$header-height: 50px;
.accordion-item {
  height: $header-height;
  overflow: hidden;
  background: #eeeeee;
  border-bottom: solid #484848;
  &.open {
    height: auto;
    overflow: auto;
  }
  .item-header {
    height: $header-height;
    cursor: pointer;
  }
  .item-content {
    display: block;
  }
}
